
h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 50pt;
  color: orange;
}

#brand {
	color: orange !important;
	font-size: 18pt;
	font-family: "Arial Black", Gadget, sans-serif;
}

button {
	margin:auto;
	display:block;
}

body {
  font-family: "Arial", Gadget, sans-serif;
  text-align: center;
  background: #3f3f3f;
}

#body_text {
  color: white;
}

h2 {
  font-size: 18pt;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
}

input {
  width: 400px;
}

a {
  color: white;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 0px;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
}

h4 {
  color: white
  font-family: "Arial Black", Gadget, sans-serif;
}

h5 {
	color: #FFA500 !important;
	font-size: 20pt;
	font-family: "Arial Black", Gadget, sans-serif;
}

textarea {
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
  font-family: "Arial", Gadget, sans-serif;
}
html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}
#outer {
  display: inline-block;
  width: 100%;
}
#map { 
	height: 85%;
	width: 60%;
	margin-left: 3px;
}
#list {
  margin-left: 3px;
  height: 85%;
  overflow: auto;
}
.barNames {
  padding: 2px;
  font-size: 14px;
  color: black;
  display: block
  font-family: "Arial Black", Gadget, sans-serif;
}
#barwrap{
  margin: auto;
  display: inline-block;
  width: 100%;
}
#beerlist{
  height: 82%; 
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%;
  color: white;
}
#specials{
  height: 82%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%;
  color: white;	
  font-family: "Arial", Gadget, sans-serif;
}

#text{
  color: white;
  font-family: "Arial", Gadget, sans-serif;
  
}

.vote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
}

#about{
	color: white;
	font-size: 13pt;
}

.vote.on {
  background-position: 0 2px;
}

#directionsPanel{
  background: white;
}

#name_label{
	color: white;
}

#email_label{
	color: white;
}

#message_label{
	color: white;
}

p{
	color: white;
}

#contact_form{
	display: block;
}

.input-mysize { 
	width: 10px 
}

}
.infobtn{ 
	margin: 5px;
	width: 74px; 
}

.controls {
  
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#commentwrap{
	text-align:center;
	display: inline-block;
}
#commentBox{
  width: 300px;
}
#comments{
  background: #3f3f3f;
  width: 300px;
  color: white;
}

#comment{
	background: #3f3f3f;
	color: white;
}