{% extends "_base.html" %}
{% block bodycontent %}
<h1>Hopper</h1>
<h3>Because it's not alcoholism until you graduate!</h3>
<br><br><br>
<div id="about" class="col-xs-6 col-xs-offset-3">We at Hopper feel that finding places to drink shouldn't be hard. Picture this:
you're stumbling down the sidewalk with your buddies trying to find the next bar to hit, you pull out your
phone, close one eye, stick your tongue out, open maps, type "bat" no "var" no "baf" and then finally
after you've switched from the right eye squint to the left, a list of bars pops up and the one at the
top of the list is a chain restaurant in the city you were lost in last weekend. You scroll until
you see one .2 miles away, then you click on it and it takes you to some weirdly formatted generic website
that contains no useful information and then you trip on a crack in the sidewalk and no progress was made.<br><br>
Been there bro.<br> Trust us, use Hopper. </div>
{% endblock %}